<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  			<div  class="nav">
				<div class="logoContainer"> <img id="logo" src="assets/logo.png"> </div>
				<div class="mobileNav"><img src="assets/nav.png"></div>
        <ul>
					<a href="#home"><li>HOME</li></a>
					<a href="#workshops"><li>PROJECTS</li></a>
					<a href="#contact"><li>CONTACT</li></a>
					<a href="#map"><li>COLLECTION POINTS</li></a>
					<a href="#"><li>BLOG</li></a>
				</ul>
  			</div>
  	
      <a name="home"></a>
    	<div class="hero">
        <h1>SUPPORTING REFUGEES IN HELSINKI</h1>
        <p class="ingress"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum urna felis, dictum dictum erat condimentum sit amet. Cras vel est bibendum, Cras vel est Would you like to support?
          <br> <button> GET IN TOUCH </button>
        </p>
      </div>
  		
      <!-- ABOUT  -->
      <div class="section about">
        <div class="subsection left">
            <h2>WE ARE</h2>
            <ul>
              <li> a self-organised and self-initiated collective of Finnish and foreigh residents of Helsinki giving a damn</li>
              <li>doing rathen than planning</li>
              <li>acive participants of community, trying to change things</li>
              <li>believing in volunteer projects people are people not refuggess, professsionals, able or not. Its about the collective and the equality</li>
            </ul>
        </div>
       <div class="subsection left">
            <h2>WE ARE NOT</h2>
            <ul>
              <li>professionals, not any form of official organisation</li>
              <li>a hierarchy</li>
              <li>no separation, everyone is an equal contributor</li>
            
            </ul>
        </div>

      <!-- WORKSHOPS -->
       <a name="workshops"></a>
       <div class="section workshops">
          <h2> WE ORGANISE: </h2>
          <div class="workshopContainer">
             
                <div class="subsection left">
                  <h3>ARTS & CRAFTS</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div>
               <div class="subsection right">
                <img src="assets/art.jpg">
              </div>
          </div>

          <div class="workshopContainer">
              <div class="subsection left">
                <img src="assets/art.jpg">
              </div>
                <div class="subsection right">
                  <h3>CLIMBING</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div> 
          </div>

         <div class="workshopContainer">
             
                <div class="subsection left">
                  <h3>SKATEBOARD</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div>
               <div class="subsection right">
                <img src="assets/art.jpg">
              </div>
          </div>

         <div class="workshopContainer">
              <div class="subsection left">
                <img src="assets/art.jpg">
              </div>
                <div class="subsection right">
                  <h3>COMPUTER</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div> 
          </div>

           <div class="workshopContainer">
             
                <div class="subsection left">
                  <h3>THEATER</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div>
               <div class="subsection right">
                <img src="assets/art.jpg">
              </div>
          </div>

          <div class="workshopContainer">
              <div class="subsection left">
                <img src="assets/art.jpg">
              </div>
                <div class="subsection right">
                  <h3>HAVE AN IDEA?</h3>
                  <p>Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.
                  Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat. Fusce non augue ligula. Ut sed ultrices lacus.</p>
                </div> 
          </div>
       </div>

       <div class="section impact">
        <h2> IMPACT </h2>
        <div class="subsection">
          <p>Our total impact is large, based on contribution on each of our team members. large, based on contribution on each of our team members. During October and November, we have had:</p>
          
          <div class="circle"> 3 <br> workshops </div>
          <div class="circle"> 18 <br> children </div>
          <div class="circle"> 10 <br> adults </div>
          <div class="circle"> lots <br> of smiles </div>
        </div>
       </div>


      <!-- COLLECTION MAP -->
       <div class="section map">
            <h2> COLLECTION POINTS </h2>
            <div class="subsection">
              <p>We have boxes in different cafes where we collect different items for our activities. You can bring and drop them off at any point of the places’s openning hours. This week we are collecting:</p>
                <p>Crayons, Skateboards and Skateboarding Helmets.</p>
              <br>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15870.272400449458!2d24.
            93176313564048!3d60.18430658395457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sfi!4v1449467472616" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

  </body>
</html>